/* Navigation bar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #303030;
}

body {
    background-color: lightgray;
    font-family: Arial;
    margin: 0;
}

header {
    padding: 50px;
    text-align: left;
    font-size: 30px;
    color: white;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
}

/* Formatting for links */

a:link {
    color: whitesmoke;
}

a:visited {
    color: whitesmoke;
}

a:hover:not(.active) {
    background-color: black;
}

.active {
    background-color: darkred;
}