/* Navigation bar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
    background-color: #303030;
    z-index: 1200;
}

body {
    background-color: lightgray;
    font-family: Arial;
    margin: 0;
}

header {
    padding: 50px;
    text-align: left;
    font-size: 30px;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 12px 25px;
    text-decoration: none;
}

/* Formatting for links */

a:link {
    color: whitesmoke;
}

a:visited {
    color: whitesmoke;
}

a:hover:not(.active) {
    background-color: darkred;
}

.active {
    background-color: darkred;
}

.about-text-ctr {
    padding: 100px;
}

#ProfileImage {
    z-index: -1;
}