/* Navigation bar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
  background-color: lightgray;
  font-family: Arial;
}

header {
    padding: 50px;
    text-align: left;
    font-size: 30px;
    color: white;
}